<% @title = "About Us" %>
<% @bg_img = "about" %>

<div class="container content-text">
  <div class="row">
    <div class="col-12">
      <h2>The Making of Unfriendly Bakery</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus enim similique earum quidem molestiae adipisci cum, molestias facilis reiciendis facere. Nostrum voluptatibus autem numquam ducimus, mollitia doloremque dignissimos ea dolores.</p>

      </p>Facere sit nemo delectus, voluptatum repudiandae error minima dolore hic possimus? Consequatur dignissimos, doloremque labore sequi magnam et soluta unde ratione, sunt repellendus at accusantium amet quibusdam, dolores magni atque!</p>

      <p>Minus maiores aliquid, consequuntur quasi sunt vel dignissimos sequi suscipit non architecto ab ipsa tempore tempora accusamus, alias cum odio beatae modi, neque rerum. Blanditiis, sapiente odit quis alias cupiditate.</p>

      <p>Voluptates iusto culpa, labore blanditiis magni voluptatum deserunt maxime tenetur rerum aperiam aliquam accusantium nobis nisi dignissimos natus quae cupiditate laboriosam ipsum similique ullam qui illo facilis quod. Minima, perspiciatis.</p>
    
    </div>
    <!-- /.col-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->