<html>
<head>
<body style='background-color: #343a40; color:#fff; text-align: center;'>

<section>
  <article>
    <header>
      <h1>Unfriendly Bakery</h1>
      <a href="http://localhost:4567"><img src="https://raw.githubusercontent.com/gloria-ho/unfriendly_bakery/master/public/img/bread.jpg" alt="image of bread" style="display: block; margin: 10px auto; width: 70%"></a>
    </header>
  </article>

  <article>
  <h3>Thank you for signing up for our mailing list!</h3>
  <img src="https://raw.githubusercontent.com/gloria-ho/unfriendly_bakery/master/public/img/cake.jpg" alt="image of cake" style="display: block; margin: 10px auto; width: 70%">
  </article>
</section>

<br/>

<section>
  <article>
    <header>
      <h2>Our Current Lineup:</h2>
    </header>
  </article>
  
  <br/>

  <article>
    <header>
      <h2>Cookies</h2>
    </header>
    <p>
      <img src="https://raw.githubusercontent.com/gloria-ho/unfriendly_bakery/master/public/img/cookie_sugar.jpg" alt="sugar cookie" style="display: block; margin: 10px auto; width: 70%">
      Diabetes Sugar Cookie
    </p>
    <br/>
    <p>
      <img src="https://raw.githubusercontent.com/gloria-ho/unfriendly_bakery/master/public/img/cookie_chocolate.jpg" alt="chocolate cookie" style="display: block; margin: 10px auto; width: 70%">
      5lb Chocolate Cookie
    </p>
    <br/>
    <p>
      <img src="https://raw.githubusercontent.com/gloria-ho/unfriendly_bakery/master/public/img/cookie_caramel_macaron.jpg" alt="caramel maracon" style="display: block; margin: 10px auto; width: 70%">
      Root Canal Caramel Cookie
    </p>
  </article>

  <br/>
  
  <article>
    <header>
      <h2>Cakes</h2>
    </header>
    <p>
      <img src="https://raw.githubusercontent.com/gloria-ho/unfriendly_bakery/master/public/img/cake_chocolate.jpg" alt="chocolate cake" style="display: block; margin: 10px auto; width: 70%">
      Devil's Chocolate Cake
    </p>
    <br/>
    <p>
      <img src="https://raw.githubusercontent.com/gloria-ho/unfriendly_bakery/master/public/img/cake_iced.jpg" alt="iced cake" style="display: block; margin: 10px auto; width: 70%">
      Cavity Iced Cake
    </p>
    <br/>
    <p>
      <img src="https://raw.githubusercontent.com/gloria-ho/unfriendly_bakery/master/public/img/cake_pie.jpg" alt="pie" style="display: block; margin: 10px auto; width: 70%">
      This Cake is a Lie
    </p>
  </article>

  <br/>
  
  <article>
    <header>
      <h2>Muffins</h2>
    </header>
    <p>
      <img src="https://raw.githubusercontent.com/gloria-ho/unfriendly_bakery/master/public/img/cupcake_almond.jpg" alt="almond cupcake" style="display: block; margin: 10px auto; width: 70%">
      Anaphylactic Almond Cupcake
    </p>
    <br/>
    <p>
      <img src="https://raw.githubusercontent.com/gloria-ho/unfriendly_bakery/master/public/img/cupcake_pretzel.jpg" alt="pretzel cupcake" style="display: block; margin: 10px auto; width: 70%">
      Chipped Tooth Pretzel Cupcake
    </p>
    <br/>
    <p>
      <img src="https://raw.githubusercontent.com/gloria-ho/unfriendly_bakery/master/public/img/cupcake_red_velvet.jpg" alt="red velvet cupcake" style="display: block; margin: 10px auto; width: 70%">
      Red Velvet Not-Really-A-Muffin
    </p>
  </article>
</section>


</body>
</html>