<html>
<body style='background-color: #343a40; color:#fff; text-align: center;'>

  <h1>Unfriendly Bakery</h1>

  <img src="./img/bread.jpg" alt="image of bread" style="display: block; margin: 10px auto; width: 70%">

  <h2>Thank you for signing up for our mailing list!</h2>
  <br/>

  <img src="./img/cake.jpg" alt="image of cake" style="display: block; margin: 10px auto; width: 70%">
  <br/>

  <img src="./img/cookie_sugar.jpg" alt="sugar cookie" style="display: block; margin: 10px auto; width: 70%">
  <br/>
  <img src="./img/cookie_chocolate,jpg" alt="chocolate cookie" style="display: block; margin: 10px auto; width: 70%">
  <br/>
  <img src="./img/cookie_caramel.jpg" alt="caramel maracon" style="display: block; margin: 10px auto; width: 70%">
  <br/>

  <img src="./img/cake_chocolate.jpg" alt="chocolate cake" style="display: block; margin: 10px auto; width: 70%">
  <br/>
  <img src="./img/cake_iced.jpg" alt="iced cake" style="display: block; margin: 10px auto; width: 70%">
  <br/>
  <img src="./img/cake_pie.jpg" alt="pie" style="display: block; margin: 10px auto; width: 70%">
  <br/>

  <img src="./img/cupcake_almond.jpg" alt="almond cupcake" style="display: block; margin: 10px auto; width: 70%">
  <br/>
  <img src="./img/cupcake_pretzel.jpg" alt="pretzel cupcake" style="display: block; margin: 10px auto; width: 70%">
  <br/>
  <img src="./img/cupcake_red_velvet.jpg" alt="red velvet cupcake" style="display: block; margin: 10px auto; width: 70%">
  <br/>

</body>
</html>