<% @title = 'Subscribe' %>
<% @bg_img = 'subscribe' %>



<div class="container content-text">
  <div class="row">
    <div class="col-12">
      <h2>Subscribe to our newsletter below!</h2>
    </div>
    <!-- /.col-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->