<% @title = "Visit Us" %>
<% @bg_img = "visit" %>

<div class="container content-text">
  <div class="row">
    <div class="col-12">
      <h2>Visit Us</h2>

      <p>
        <span class="bold">Address:</span> Urbieta Kalea, 9, 20006 San Sebastián-Donostia, Gipuzkoa, Spain<br/>
        <span class="bold">Telephone Number:</span> +34 943 42 75 45<br/>
        <span class="bold">Email Address:</span> feedback@unfriendlybakery.com
        <span class="bold">Hours of Operations:</span><br/>
        <ul class="hours">
          <li>Sunday: 10AM - 5PM</li>
          <li>Monday: 9AM - 7PM</li>
          <li>Tuesday: 9AM - 7PM</li>
          <li>Wednesday: 9AM - 7PM/li>
          <li>Thursday: 9AM - 7PM</li>
          <li>Friday: 9AM - 10PM</li>
          <li>Saturday: 9AM - 10PM</li>
        </ul>
        <!-- /.hours -->

      </p>

      </p>Facere sit nemo delectus, voluptatum repudiandae error minima dolore hic possimus? Consequatur dignissimos, doloremque labore sequi magnam et soluta unde ratione, sunt repellendus at accusantium amet quibusdam, dolores magni atque!</p>

      <p>Minus maiores aliquid, consequuntur quasi sunt vel dignissimos sequi suscipit non architecto ab ipsa tempore tempora accusamus, alias cum odio beatae modi, neque rerum. Blanditiis, sapiente odit quis alias cupiditate.</p>

      <p>Voluptates iusto culpa, labore blanditiis magni voluptatum deserunt maxime tenetur rerum aperiam aliquam accusantium nobis nisi dignissimos natus quae cupiditate laboriosam ipsum similique ullam qui illo facilis quod. Minima, perspiciatis.</p>
    
    </div>
    <!-- /.col-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-12">
      <div class="map">
      </div>
      <!-- /.map -->
    </div>
    <!-- /.col-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->