body {
  font: sans-serif;
  color: #fff;
  background-color: #343a40; }

.bold {
  font-weight: bold; }

.lighter {
  font-weight: lighter; }

.col-12 {
  margin: 0;
  padding: 0; }

.navbar {
  padding-top: 10px;
  opacity: .9; }

.nav-items, .catagories {
  text-align: right; }

.bg-index {
  background-image: url("/img/bakery.jpg");
  height: 875px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

.bg-about {
  background-image: url("/img/about.jpg");
  height: 875px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

.bg-cookies {
  background-image: url("/img/cookies.jpg");
  height: 875px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

.bg-cakes {
  background-image: url("/img/cakes.jpg");
  height: 875px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

.bg-muffins {
  background-image: url("/img/muffins.jpg");
  height: 875px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

.bg-visit {
  background-image: url("/img/croissant.jpg");
  height: 875px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

.bg-subscribe {
  background-image: url("/img/display.jpg");
  height: 875px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

.bg-subscribed {
  background-image: url("/img/sprinkle.jpg");
  height: 875px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

.product-img {
  width: 200px;
  height: 200px;
  size: cover;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 20px; }

.content-text {
  margin-top: 30px; }

.map {
  background-image: url("/img/map.png");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

footer {
  padding-top: 10px; }

.footernav ul {
  padding-top: 10px; }

.footernav li {
  list-style-type: none;
  display: inline-block;
  padding: 10px; }

.footernav a {
  padding: 5px 10px;
  color: #fff;
  text-decoration: none; }

.footernav a:hover {
  padding: 3px 8px;
  text-decoration: underline;
  color: #343a40;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  opacity: .6; }

footer ul, .copyright {
  padding-left: 20px;
  margin: 15px 0; }

.copyright {
  text-align: right;
  padding-bottom: 15px; }

.email-form {
  margin-top: 5px;
  float: right;
  display: inline-block;
  padding-right: 10px; }

.email-input {
  border-radius: 5px;
  padding: 5px; }

.subscribe-button {
  margin: 0px 10px; }

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s; }

#myImg:hover {
  opacity: 0.7; }

/*# sourceMappingURL=styles.css.map */
